{% extends 'films/base.html' %}
{% block films_active %}active{% endblock %}
{% block title %}Films list{% endblock %}
{% block body %}
<div class="fims-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Films</h3>
        </div>
        {% if films %}
            {% for film in films %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'films:detail' film.id %}">
                            {% if film.poster %}
                                <img src="{{ poster_domain }}{{ film.poster }}" class="img-responsive">
                            {% else %}
                                <img src="{{ no_image }}" class="img-responsive">
                            {% endif %}
                        </a>
                        <div class="caption">
                            <h3>{{ film.title }}</h3>
                            <h5>{{ film.genre }}</h5>

                            <!-- View Details -->
                            <a href="{% url 'films:detail' film.id %}" class="btn btn-primary btn-sm" role="button">View Detail</a>
                            <a href="{% url 'films:detail' film.id %}" class="btn btn-danger btn-sm" role="button">Edit</a>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if films.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ films.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ films.number }} of {{ films.paginator.num_pages }}.
                    </span>

                    {% if films.has_next %}
                        <a href="?page={{ films.next_page_number }}">next</a>
                        <a href="?page={{ filmss.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <div class="col-sm-12">
                <br>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}
